@media (max-width: 1024px) {
	.call-to-action .container {padding: 0;}
	.call-to-action .single-call-to-action.right::before {left: 0px;}
	.call-to-action .single-call-to-action.right {padding-left: 20px;}
	.single-featured-box .img-box {display: none;}
	.our-bmi .form-grp {width: 18%;}
	.our-packages .single-our-package .title-box .price-box {font-size: 14px;}
	.our-packages .single-our-package .title-box .price-box span {font-size: 23px;}
	.our-packages .single-our-package .title-box .title h3 {font-size: 15px;}
	.top-call-to-action .single-top-call-to-action::before {display: none;}
	.schedule .container {overflow-y: hidden;}
	.shop-page .single-our-product .img-box {height: 195px;}
}
@media (max-width: 768px) {
	.header {position: static;background: #000;margin: 0;}
	.header .pull-left,
	.header .pull-right {
		float: none !important;
		text-align: center;
	}
	.header.stricky-fixed .pull-left {float: left !important;}
	.header.stricky-fixed .pull-right {float: right !important;}
	.header .top-info {float: left;}
	.header .mainmenu-holder {float: right;}
	.header.stricky-fixed {position: fixed;}
	.call-to-action .container {background-position: 100% top;}
	.single-featured-box .img-box {display: table-cell;}
	.featured-section .video-box > img {width: 100%;}
	.single-popular-post {margin-bottom: 30px;}
	.single-popular-post .img-box img {width: 100%;}
	.half-sm-wrapper {padding: 0;}
	.single-programme.half-sm {width: 50%;float: left;padding: 0 15px;margin-top: 30px;}
	.our-bmi .form-grp {width: 47%;margin-bottom: 15px;}
	.latest-news .single-blog-post {margin-bottom: 30px;}
	.footer .footer-widget {margin-top: 30px;}
	.footer .footer-widget.latest-post-widget,
	.footer .footer-widget.quick-link-widget {padding-left: 0;}
	.top-call-to-action .container {overflow-y: hidden;}
	.top-call-to-action .single-top-call-to-action {padding-left: 10px;}
	.section-title p br {display: none;}
	.about-call-to-action .cotnainer {overflow-y: hidden;}
	.about-content-section .video-box > img {width: 100%;}
	.about-call-to-action .single-top-call-to-action:before {display: none;}
	.about-content-section {overflow-y: hidden;}
	.inner-banner {padding: 100px 0;}
	.our-trainer  {overflow-y: hidden;}
}

@media (max-width: 640px) {
	.tp-caption {display: none !important;}
	.header .pull-left {float: left !important;}
	.header .pull-right {float: right !important;}
	.header .top-info {display: none;}
	.header .mainmenu-holder .nav-footer > ul > li {padding: 27px 0;}
	.single-programme.half-sm {width: 100%;float: none;}
	.our-packages .single-our-package .img-box img {width: 100%;}
	.our-packages .single-our-package .title-box .title h3 {font-size: 18px; }
	.our-packages .single-our-package .title-box .price-box span {font-size: 44px;}
	.our-packages .single-our-package .title-box .price-box {font-size: 24px;}
	.latest-news .single-blog-post .img-box img {width: 100%;}
	.our-packages,.latest-news {overflow-y: hidden;}
	.top-call-to-action .single-top-call-to-action {padding-left: 30%;margin-bottom: 20px;}
}
@media (max-width: 480px) {
	.header .logo {width: 67%;}
	.call-to-action .single-call-to-action {background: none !important;}
	.call-to-action {margin-top: 0;}
	.call-to-action .container {background: #1D242C;}
	.call-to-action .single-call-to-action.right {background: #fff !important;}
	.call-to-action .single-call-to-action.right::before {display: none;}
	.single-featured-box .img-box {display: none;}
	.single-featured-box .content-box .box {margin-right: 0;}
	.single-featured-box .number-box {font-size: 30px;padding-right: 15px;}
	.our-bmi .form-grp, .our-bmi .form-grp.submit {width: 100%;}
	.our-packages .single-our-package .title-box .title h3 {font-size: 16px; }
	.our-packages .single-our-package .title-box .price-box span {font-size: 30px;}
	.our-packages .single-our-package .title-box .price-box {font-size: 14px;}
	.inner-banner .pull-left,
	.inner-banner .pull-right {float: none !important;text-align: center;}
	.popular-post-page.mixit-gallery {overflow-y: hidden;}
	.gallery-page.version-two .masonary-item {width: 100%;}
	.error-404 h1 {font-size: 135px;line-height: 135px;}
	.error-404 h2 {;text-indent: 50px;font-size: 22px;margin-right: 27px;}
	.shop-page.single-blog-page.single-class-content .pull-left, 
	.shop-page.single-blog-page.single-class-content .pull-right {float: none !important;}
	.single-class-content .top-box .text-box,
	.single-class-content .top-box .price-box {text-align: center;}
	.single-class-content .top-box .price-box {margin-top: 15px;}
	.map-and-form .contact-form {padding-left: 0;}
}

/* = menu configuration styles */

@media (min-width: 1024px) {
	.mainmenu-holder .nav-footer .menu-expander {display: none;}
	.header .mainmenu-holder .nav-header .navigation .dropdown-expander {display: none;}
}
@media (max-width: 1023px) {
	
	.header .mainmenu-holder {position: relative;z-index: 9999999;text-align: right;}
	.header .mainmenu-holder .nav-header {position: absolute;top:100%;right: 0;background: #262627;width: 250px;overflow: hidden;overflow-y: visible;max-height: 0px;transition-property: all; transition-duration: .5s; transition-timing-function: cubic-bezier(0, 1, 0.5, 1);z-index: 99999999;text-align: left;}
	.header .mainmenu-holder .nav-header.closed {max-height: 0;}
	.header .mainmenu-holder .nav-header.opened {max-height: 220px;}
	.header .mainmenu-holder .nav-header > ul > li {display: block;margin: 0;line-height: 35px !important;border-bottom: 1px solid #F0F0F0;}
	.header .mainmenu-holder .nav-header > ul > li > a .dropdown-expander {position: absolute;top:5px;right: 10px;border: none;outline: none;width: 25px;height: 25px;background: #FE3720;color: #fff;line-height: 0px;border-radius: 3px;}
	.header .mainmenu-holder .nav-header > ul > li > a {display: block;margin: 0; position: relative;padding-left: 10px;}
	.header .mainmenu-holder .nav-header > ul > li > a:after {display: none;}
	.header .mainmenu-holder .nav-header > ul > li > ul {position: static;opacity: 1;visibility: visible;width: 100%;max-height: 0px;overflow-y: hidden;transition-property: all !important; transition-duration: .5s !important; transition-timing-function: cubic-bezier(0, 1, 0.5, 1) !important;}
	.header .mainmenu-holder .nav-header > ul > li > ul.closed {max-height: 0;}
	.header .mainmenu-holder .nav-header > ul > li > ul.opened {max-height: 600px;}


	.mainmenu-holder .nav-footer .menu-expander {position: relative;z-index: 9999999;}
	.header.stricky-fixed .mainmenu-holder .nav-footer > ul > li {padding: 27px 0;}
}